<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cool.doudou.mybatis.assistant.core.mapper.UserMapper">
    <select id="selectList" resultType="cool.doudou.mybatis.assistant.core.entity.User">
        select *
        from sys_user
        ${q.sql}
    </select>
    <select id="selectPage" resultType="cool.doudou.mybatis.assistant.core.entity.User">
        select *
        from sys_user
        ${q.sql}
    </select>
    <insert id="insert">
        INSERT INTO sys_user(tenant_id,name,py,create_by,create_time,deleted)
        VALUES(#{tenantId},#{name},#{py},#{createBy},#{createTime},#{deleted})
    </insert>
    <insert id="batchInsert">
        INSERT INTO sys_user(tenant_id,name,py,create_by,create_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
           (#{item.tenantId},#{item.name},#{item.py},#{item.createBy},#{item.createTime})
        </foreach>
    </insert>
</mapper>
