package ${package.parent}#if($package.module!='').${package.module}#end.${package.controller};

import cool.doudou.celery.common.core.validation.Add;
import cool.doudou.celery.common.core.validation.Edit;
import cool.doudou.celery.upms.service.${instance.serviceClass};
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.web.bind.annotation.*;
import cool.doudou.mybatis.assistant.core.page.PageDTO;
import cool.doudou.mybatis.assistant.core.page.PageInfo;
import lombok.AllArgsConstructor;
import ${package.parent}#if($package.module!='').${package.module}#end.${package.entity}.${instance.entityClass};

/**
 * $!{tableComment} 控制器
 *
 * @author ${author}
 * @since ${date}
 */
@Api(tags = "${tableComment}")
@AllArgsConstructor
@RequestMapping("/v1/${tableName.replaceAll("_", "-")}")
@RestController
public class ${instance.controllerClass} {
    private ${instance.serviceClass} ${instance.service};

    @ApiOperation(value = "根据 id 查询记录", notes = "记录Id")
    @GetMapping("/getById")
    public ${instance.entityClass} getById(@RequestParam Long id) {
        return ${instance.service}.getById(id);
    }

    @ApiOperation(value = "分页查询", notes = "分页参数、实体查询条件")
    @PostMapping("/page")
    public PageInfo<${instance.entityClass}> page(@RequestBody PageDTO<${instance.entityClass}> pageDTO) {
        return ${instance.service}.page(pageDTO.page(), pageDTO.data());
    }

    @ApiOperation(value = "添加记录", notes = "实体记录")
    @PostMapping("/add")
    public boolean add(@Validated(Add.class) @RequestBody ${instance.entityClass} ${instance.entity}) {
        return ${instance.service}.add(${instance.entity});
    }

    @ApiOperation(value = "编辑记录", notes = "实体记录")
    @PostMapping("/edit")
    public boolean edit(@Validated(Edit.class) @RequestBody ${instance.entityClass} ${instance.entity}) {
        return ${instance.service}.edit(${instance.entity});
    }

    @ApiOperation(value = "根据 ids 删除记录", notes = "记录Ids")
    @PostMapping("/delete")
    public boolean delete(@RequestBody String ids) {
        return ${instance.service}.delete(ids);
    }
}