<script setup lang="ts">
  import {reactive, ref} from "vue";

  let visible = ref(false);

  let formType = ref('');
  let formTitle = ref('');
  let formData = reactive<TenantForm>({
    name: '',
    address: '',
    date: ''
  });

  const init = (type, row) => {
    formType.value = type;
    formTitle.value = type === 'add' ? '新增' : '编辑';

    initData(row);

    visible.value = true;
  };
  const initData = (row) => {
    if (row) {
      Object.assign(formData, row);
    } else {
      Object.keys(formData).forEach((key) => {
        formData[key] = '';
      });
    }
  };
  const doOk = () => {
    console.log('form', formType.value, formData);

    // request
  };
  const doCancel = () => {
    visible.value = false;
  };

  defineExpose({
    init
  });
</script>

<template>
  <c-dialog :visible="visible" :title="formTitle" :close-on-click-modal="false" :close-on-press-escape="false"
            :show-close="false" @ok="doOk" @cancel="doCancel">
    <el-form :model="formData" label-width="120px">
      <el-form-item label="姓名">
        <el-input v-model="formData.name"/>
      </el-form-item>
      <el-form-item label="出生日期">
        <el-date-picker
            v-model="formData.date"
            type="date"
            placeholder="Pick a date"
            style="width: 100%"
        />
      </el-form-item>
      <el-form-item label="性别">
        <el-switch v-model="formData.sex" active-value="男" active-text="男"
                   inactive-value="女" inactive-text="女"></el-switch>
      </el-form-item>
      <el-form-item label="住址">
        <el-input v-model="formData.address"/>
      </el-form-item>
      <el-form-item label="头像">
        <el-image :src="formData.avatar" style="width: 100px;"></el-image>
      </el-form-item>
    </el-form>
  </c-dialog>
</template>

<style lang="scss" scoped>

</style>