<script setup lang="ts">
  import {ref} from "vue";
  import {page} from "@/apis/application/organization/user";
  import UserForm from "./form.vue";

  // 列关键字
  const keyword = 'user';

  // ref
  const refTableUser = ref();
  const refFormUser = ref();

  const doQuery = queryObj => {
    refTableUser.value.refresh(queryObj);
  };
  const doAdd = () => {
    refFormUser.value.init('add');
  };
  const doDetail = row => {
    console.log('detail', row);
  };
  const doEdit = row => {
    refFormUser.value.init('edit', row);
  }
  const doDelete = id => {
    console.log('delete', id);
  };
</script>

<template>
  <c-search :keyword="keyword" @query="doQuery"></c-search>
  <c-table ref="refTableUser" :keyword="keyword" :func-page="page" @detail="doDetail" @edit="doEdit"
           @delete="doDelete">
    <template #action>
      <el-button type="primary" @click="doAdd">新增</el-button>
    </template>
  </c-table>
  <user-form ref="refFormUser"></user-form>
</template>

<style lang="scss" scoped>

</style>