package ${package.parent}#if($package.module!='').${package.module}#end.${package.mapper};

import org.apache.ibatis.annotations.Mapper;
import ${package.parent}#if($package.module!='').${package.module}#end.${package.entity}.${instance.entityClass};

/**
 * $!{tableComment} Mapper接口
 *
 * @author ${author}
 * @since ${date}
 */
@Mapper
public interface ${instance.mapperClass} extends BaseMapper<${instance.entityClass}> {
}