package ${package.parent}#if($package.module!='').${package.module}#end.${package.service};

import cool.doudou.mybatis.assistant.core.service.BaseService;
import org.springframework.stereotype.Service;
import ${package.parent}#if($package.module!='').${package.module}#end.${package.mapper}.${instance.mapperClass};
import ${package.parent}#if($package.module!='').${package.module}#end.${package.entity}.${instance.entityClass};

/**
 * $!{tableComment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${instance.serviceClass} extends BaseService<${instance.mapperClass}, ${instance.entityClass}> {
}