package ${package.parent}#if($package.module!='').${package.module}#end.${package.service};

import cool.doudou.mybatis.assistant.core.service.BaseService;
import cool.doudou.mybatis.assistant.core.query.LambdaQuery;
import cool.doudou.mybatis.assistant.expansion.util.BeanUtil;
import org.springframework.stereotype.Service;
import ${package.parent}#if($package.module!='').${package.module}#end.${package.mapper}.${instance.mapperClass};
import ${package.parent}#if($package.module!='').${package.module}#end.${package.entity}.${instance.entityClass};

/**
 * $!{tableComment} 服务类
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${instance.serviceClass} extends BaseService<${instance.mapperClass}, ${instance.entityClass}> {
    /**
     * 添加记录
     *
     * @param ${instance.entity} 实体参数
     * @return boolean
     */
    public boolean add(${instance.entityClass} ${instance.entity}) {
        LambdaQuery<${instance.entityClass}> lambdaQuery = new LambdaQuery<>();
        // todo 记录属性值验证
        ${instance.entityClass} ${instance.entity}Exists = baseMapper().selectOne(lambdaQuery);
        // todo 记录已存在返回处理
        if (${instance.entity}Exists != null) {
            return false;
        }

        return retBoolean(baseMapper().insert(${instance.entity}));
    }

    /**
     * 编辑记录
     *
     * @param ${instance.entity} 实体参数
     * @return boolean
     */
    public boolean edit(${instance.entityClass} ${instance.entity}) {
        ${instance.entityClass} ${instance.entity}Exists = getById(${instance.entity}.getId());
        // todo 记录不存在返回处理
        if(${instance.entity}Exists == null) {
            return false;
        }

        // 复制属性值
        BeanUtil.copy(${instance.entity}Exists, ${instance.entity});

        return retBoolean(baseMapper().update(${instance.entity}));
    }
}